ALGOLIA_APP_CREDENTIALS={"applicationId": "applicationId", "searchOnlyApiKey": "searchOnlyApiKey", "adminApiKey": "adminApiKey", "analyticsApiKey": "analyticsApiKey", "monitoringApiKey": "monitoringApiKey"}